

@main {

<script>

$( document ).ready(function() {
    var canvas = document.getElementById('signature-pad');
    var context = canvas.getContext('2d');
    var input = document.getElementById('sign-text');
    var signButton = document.getElementById('sign');
    var clearButton = document.getElementById('clear');
    var myFile = document.getElementById('my-file');

    canvas.height = 200;
    canvas.width = 400;

    context.font = '48px Dancing Script';

    input.addEventListener('input', function (event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.strokeText(event.target.value, 100, 100, 200);
    });

    signButton.addEventListener('click', function (event) {

        canvas.toBlob((blob) => {
            const formData = new FormData();
            formData.append('user-signature', blob, 'signature.png');

            fetch('http://localhost:9000/signature', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then((json) => {
                const id = json.id;
                console.log(`TRACER signature-id is: ${id}`);
            });
        });

        console.log(`TRACER: sign`);
        event.preventDefault();
    });

    clearButton.addEventListener('click', function (event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        input.value = '';
        console.log(`TRACER: clear`);
        event.preventDefault();
    });
});
</script>

<!-- see main.scala.html for jQuery, Knockout JS, CSS, etc -->
<h3>Sandbox</h3>
<p>Hello this is a test form for HTML canvas/context/etc</p>
<hr/>
<form action="http://localhost:9000/sandbox" method="POST">
    <input type="text" id="input1" name="input1" value="abc"/>
    <input type="text" id="input2" name="input2" value="def"/>
    <input type="text" id="signature-id" name="signature-id" hidden />

    <!-- signature begin -->
    <div class="wrapper">
        <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
    </div>
    <div>
        <input id="sign-text" name="sign-text" type="text" placeholder="type name here" />
        <button id="sign">Sign</button>
        <button id="clear">Clear</button>
    </div>
    <!-- signature end -->

    <button type="submit">Submit</button>
</form>
<hr/>
<p>footer</p>
}

