

@main {

<script>

$( document ).ready(function() {
    const canvas = document.getElementById('signature-pad');
    const context = canvas.getContext('2d');
    const input = document.getElementById('sign-text');
    const signButton = document.getElementById('sign');
    const clearButton = document.getElementById('clear');

    canvas.height = 200;
    canvas.width = 400;

    context.font = '48px Dancing Script';

    input.addEventListener('input', function (event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.strokeText(event.target.value, 100, 100, 200);
    });

    signButton.addEventListener('click', function (event) {

        canvas.toBlob((blob) => {
	        let fileInputElement = document.getElementById('user-signature');
            let container = new DataTransfer();
  	        let data = blob;
            let file = new File([data], "signature.png",{type:"image/png", lastModified:new Date().getTime()});
            container.items.add(file);
            fileInputElement.files = container.files;
            console.log(`TRACER: ok blob`);
        });

        console.log(`TRACER: sign`);
        event.preventDefault();
    });

    clearButton.addEventListener('click', function (event) {
        context.clearRect(0, 0, canvas.width, canvas.height);
        input.value = '';
        console.log(`TRACER: clear`);
        event.preventDefault();
    });
});
</script>

<!-- see main.scala.html for jQuery, Knockout JS, CSS, etc -->
<h3>Sandbox Use-Case B</h3>
<p>Hello this is a test form for HTML canvas/context/etc</p>
<hr/>
<form action="http://localhost:9000/sandbox-b" method="POST" enctype="multipart/form-data">
    <input type="text" id="input1" name="input1" value="abc"/>
    <input type="text" id="input2" name="input2" value="def"/>
    <input type="file" id="user-signature" name="user-signature" />

    <!-- signature begin -->
    <div class="wrapper">
        <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
    </div>
    <div>
        <input id="sign-text" name="sign-text" type="text" placeholder="type name here" />
        <button id="sign">Sign</button>
        <button id="clear">Clear</button>
    </div>
    <!-- signature end -->

    <button type="submit">Submit</button>
</form>
<hr/>
<p>footer</p>
}

