@() @main("TRACER main") {
<div>
<li><a href="http://localhost:9000/accounts-v0">Account (wait staff)</a></li>
<li><a href="http://localhost:9000/accounts-v1">Accounts v1 Play default (wait staff)</a></li>
<hr/>
<li><a href="http://localhost:9000/accounts-v2a">Accounts v2a Play pool: api (kitchen staff)</a></li>
<li><a href="http://localhost:9000/accounts-v2b">Accounts v2b Play pool: long-running (kitchen staff)</a></li>
<hr/>
<li><a href="http://localhost:9000/accounts-v3">Accounts v3 JVM forkjoin (utility contractors)</a></li>
<li><a href="http://localhost:9000/accounts-v4">Accounts v4 JVM virtual threads (special category)</a></li>
</ul>
</div>

}
